 /*-------- CSS Rules for Devices (Devices under 600px will default this media query------*/ 

 @media all {
    body {
      min-width: 340px;
      background-image: url(images/pebbles-dark-filter.jpg);
      background-size: 60%;
      background-repeat: repeat;
      margin-left: 2%;
      margin-right: 2%;
    }

      /*  rule for main divider in webpage*/
    main > div {
      border: 3px solid #3d5152;
      padding: 4px;
      margin: 3px;    
      background-color:#BEBED5;
    }

    #banner-image{
    padding: 2px;

    }

    .section-containers{
      margin-bottom: 30px;
      opacity: .97;
    }


    /*This rule centers non-flexbox large images to width of user screen*/
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
  
    /*CSS rule for medium images*/
     .center2 {
      display: flex;
      max-width: 300px;
      max-height: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3px;
      width: 75%;
    }
  
    /*CSS rule for small images/graphics*/
     .center3 {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 8%;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }

    /*CSS rule for medium images*/
    .center4 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
   /* CSS Rules for Site Images */ 
    img{
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 12px;
    }
  
    /* CSS Rule for each individual headers*/
    header div{
      background: #BEBED5;
      margin-bottom: 10px;
      margin: 5px;
      border: 2px solid #000000;
      opacity: .9;
    }
  
   /*CSS rule for the container for the header navigation*/
    header nav {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    
  
   /*CSS rule for unordered list for nav that is in the header*/
    header div ul li{
      display: flex;
      list-style: none;
      text-decoration: none;
      align-content: center;
    }
  
    header nav ul li:last-child a {
      margin-right: 0;
      list-style: none;
    }
  
    /* Footer Nav Section  */
    footer > div {
      text-align: center;
      background-color: #BEBED5;
      border: 3px solid #3d5152;
      margin: 5px;
      padding: 10px;
      opacity: .8;
      }
    
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 700px;
    }
    
    .flex-child {
        flex: 1;
        border: 2px lightyellow;
        min-width: 120px;
        background-color: #d7d7df;
        opacity: .75;
        margin-top: 0px;
        margin-left: 4px;
        margin-right: 3px;
        margin-bottom: 3px;
        padding: 1px;
        border-style: solid;
        border-width: 3px;
        border-color: #ABE0AB;
    }  

    div.flex-child-larger{
      flex: 1.3;
    }
    

      /* Grid 1x3 Container */
    div.group{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;  
      align-content: center; /* alignes content vertically */
      justify-content: center; /*aligns content horizontally*/
      text-align: center;
      font-family: 'Permanent Marker', serif;
      font-size: 17px;
      color:#DBE9F4;
    }
  
    .item {
    flex: 1;
    margin: 5px;
    }

    /* Grid 2x2 Flexbox Container */
    .container2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      font-family: 'Permanent Marker', serif;
      font-size: 17px;
      color:#DBE9F4;
    }
  
    /* Grid 2x2 Flexbox Item Element/Attributes */
    .item2 {
      width: 40%;
      max-width:380px !important;
      opacity: .9;
      margin-left: auto;     
      margin-right: auto;
      padding-bottom: 5%; /* Same as width, sets height */
      margin-bottom: 0%; /* (100-32*2)/2 */
      position: relative;
    }

    /* Rule to Center Form in Div*/
    #form-div{
      display: block;
      text-align: center;
      }

    /* Contact Form Rules */
    form label{
      display: inline-block;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      margin-bottom: 5px;
      color:#DBE9F4;
      font-family: 'Open Sans', sans-serif;
    }
  
    /*Form Text Input Rules*/
    textarea {
      text-align: center;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
    }

      /* Contact Form Button Style Rules */
    form button {
      font-size: 14px;
    }
  
    /* Hyperlink font properties */
    a{
      font-family: 'Permanent Marker', sans-serif;
      font-size: 17.5px;
      text-shadow: 1px 1px 10px #292421;     
      text-decoration: none;
    }

    nav a{
      padding-left: 7px;
      padding-right: 7px;
    }
  
    /* psuedo classes style rules for hyperlinks*/
    a:link    { color: #ABE0AB;  }
    a:visited { color:  #ABE0AB;   }
    a:hover   { color:lightyellow;  }
    a:active  { color: #DBE9F4;  }


     /*  header size 1 */
    header h1 {
      font-family: 'Permanent Marker', serif;
      text-shadow: 1px 1px 15px #527963;      
      font-size: 48px;
      color: #9FE2BF;
      text-align:center;
      text-decoration: underline;
    }
  
     /*  header size 2 */
    h2{
      font-family: 'Permanent Marker', serif;
      text-decoration: underline;
      font-size: 32px;
      margin: 2%;
      color:#9FE2BF;
      text-shadow: 1px 1px 8px #66605b;     
      text-align:center;
    }
   
    /* header size 3 */
    h3{
      font-family: 'Permanent Marker', sans-serif;
      font-size: 17.5px;
      text-shadow: 1px 1px 8px #292421;     
      text-decoration: none; 
      margin: 2%;
      color: #9FE2BF;
      text-align:center;
    }
  
    /* paragraph text rules */
    p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color:#000000;
      text-align: center;
      line-height: 16px;
      margin:3px;
      padding:5px;
    }

    /*  unordered list rules for hobbies list */
    #ul-hobbies{
      font-family: 'Open Sans', sans-serif;
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      align-content: center;
      text-align: center;
      font-size: 12px;
      color:#000000;
      line-height: 16px;
      padding: 0;
    }
  
    /*  ordered list rules */
    ol{
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color:#000000;
      text-align:center;
      line-height: 13px;
      padding: 0;
    }
  }
  
  /*-------------------CSS Rules for Devices over 600px------------------------*/ 
  
  @media all and (min-width: 600px) {
  
    /*This rule centers non-flexbox images to width of user screen*/

    body{
      margin-left: 9%;
      margin-right: 9%;
    }
  
    .section-containers{
      margin-bottom: 30px;
      opacity: .93;
    }

    /*CSS rule for medium images/graphics*/
   .center2 {
      width: 55%;
    }
  
    /* rule for header divider at top of webpage*/
    header div {
      text-align: center;
      border-radius: 5px;
      margin: 16px;
      padding: 5px;
      background-size: 100% 100%;
    }
  
    /*  rule for main divider in webpage*/
    main > div {
      border-radius: 5px;
      padding: 10px;
      margin: 16px;
    }
  
    nav a{
      padding-left: 16px;
      padding-right: 16px;
    }

    #about{
      margin-left: 3%;
      margin-right: 3%;
    }


    /* Grid 2x2 Flexbox Item Element/Attributes */
    .item2 {
      width: 30%;
    }
  
    /* CSS Rules for Generic Site Images */ 
    img{
      border-radius: 10px;
    }

    /* Footer Nav Section  */
    footer > div {
      text-align: center;
      border-radius: 5px;
      margin: 16px;
      padding: 10px;
    }
  
    /* Rule to Center Form in Div*/
    #form-div{
      display: block;
      text-align: center;
    }


    /* Contact Form Button Style Rules */
    form button {
      font-size: 13px;
    }

    /*  header size 1*/
    h1{
      font-size: 50px;
    }

    /*  header size 2 */
    h2{
      margin:4px;
      padding:2px;
    }

    /* Alternate possible font colors
      #DBE9F4 - azure white
      #435e72
    /*#9FE2BF - seafoam green */

    /* header size 3 */
    h3{
      margin-bottom: 10px;
      padding:0;
    }

    /* paragraph/ list item rules */
    p , li{
      font-size: 13px;
    }
    
}

  /*-------------------CSS Rules for Devices over 1250px------------------------*/ 

 @media all and (min-width: 1250px){

  /*  rule for main divider in webpage*/
    body {
    margin-left: 16%;
    margin-right: 16%;
  }

  .section-containers{
    margin-bottom: 30px;
    opacity: .96;
  }

  .flex-child {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 15px;
  padding-right: 15px;
}  

  /*  header size 1 */
  header h1 {
      font-family: 'Permanent Marker', serif;
      text-shadow: 1px 1px 15px #527963;      
      font-size: 48px;
      color: #9FE2BF;
      text-align:center;
      text-decoration: underline;
  }

    /*  header size 2 */
  h2{
    font-family: 'Permanent Marker', serif;
    text-decoration: underline;
    font-size: 36px;
    margin: 2%;
    color:#9FE2BF;
    text-shadow: 1px 1px 8px #66605b;     
    text-align:center;
  }
  
  /* header size 3 */
  h3{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 8px #292421;     
    text-decoration: none; 
    margin: 2%;
    color: #9FE2BF;
    text-align:center;
  }

  /* Hyperlink font properties */
  a{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 10px #292421;     
    text-decoration: none;
  }

  /* paragraph/list item text rules */
  p , li{
    font-size: 13px;

  }
  
}